.wrapper  {
    display: flex;
}

.canvas-block {
    position: relative;
}

.pointer {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.output {
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 20px;
    overflow: hidden;
    padding-left: 40px;
}

.color {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: yellow;
}

.choose-color-line {
    position: relative;
    margin-top: 20px;
}
.choose-color-line canvas {
    border-radius: 5px;
}
.choose-color-line .pointer {
    top: -3px;
    left: -5px;
    background: red;
}
